/* Estilos para a página de registro */
/* Estilos para o container do formulário */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #fff;
}

/* Estilos para o formulário de registro */
.card {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para os rótulos (labels) dos campos */
.input-label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #333;
}

/* Estilos para os campos de entrada */
.input-field {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para o botão de salvar */
.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* Styles for the destaque page */
/* Coloque aqui os estilos específicos da página de destaque */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

main {
    padding: 30px;
    width: calc(100% - 320px);
    margin-left: 300px;
}



.values-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px; /* Adicione o espaçamento desejado */
}

.video-card {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
}

p {
    color: #555;
}

nav.bottom-nav {
    display: flex;
    justify-content: center;
}

nav.bottom-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav.bottom-nav li {
    margin: 0 10px;
}

nav.bottom-nav a {
    text-decoration: none;
    color: #fff;
}

