/* home.css */
body {
  margin: 0; /* Remover margem padrão do corpo */
}

.navbar {
  background-color: rgb(255, 49, 118);
  padding: 15px;
  height: 60px; /* Ajustando a altura para ocupar o topo */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 75px;
  height: 75px;
  background-image: url('laco.png');
  background-repeat: no-repeat;
}

.login-icon {
  width: 30px;
}
