/* home.css */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right bottom, #ff7eb3, #ff6ca9, #ff5a9f, #ff4895, #ff368b);
  /* Substitua os códigos de cor pelos tons de rosa desejados */
  /* Pode ajustar a direção do gradiente alterando 'to right bottom' */
  /* Experimente outras cores ou tons de rosa conforme preferir */
}

/* Estilos para a sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100px;
  background-color: #ff69b4; /* Cor de fundo para a barra lateral */
}

/* Estilos para os links na sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #ff4f9e; /* Cor de fundo ao passar o mouse nos links */
}
